.login{
  background-image: url(/images/3.jpg);
  background-position: 55%;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}